.changeset-message-box {
   margin: 10px;
   font-style: italic;
    text-indent: hanging;
}

.tag-changeset-box {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
}