.tagger-name-box > span.secondary-link {
    padding: 5px;
}

.changesetid {
    font-family: monospace;
}

.tagged-tag-container {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    color: #707070;
    display: block;
    font-family: Courier, "Courier New", monospace;
    font-size: 12px;
    max-width: 150px;
    padding: 0 5px;
}